<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset='utf-8'>
		<meta name="author" content="Bomdi Zane, +372 5875 7661, dzedock@yahoo.com">
		<meta name="keywords" content={{keywords}}>
		<meta name="description" content={{description}}>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
			<style>
				body > *{ display: none; }
				body #mocha{ display: unset; }
			</style>
		{{else}}
			<link rel="stylesheet" href={{ stylesheet }}>
		{{/if}}
	</head>
	<body>
		{{{body}}}

		{{#if devEnv}}
			<script src="//localhost:35729/livereload.js"></script>
		{{/if}}
		
		<script type="text/javascript" src='/js/zaneUtils.min.js' async></script>

		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('bdd');
				let should = chai.should();
			</script>
			<script src="/tests/homePageTest.js"></script>
			<script>mocha.run();</script>
		{{/if}}
	</body>
</html>