<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset='utf-8'>
		<meta name="author" content="Bomdi Zane, +372 5875 7661, dzedock@yahoo.com">
		<meta name="keywords" content={{keywords}}>
		<meta name="description" content={{description}}>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href={{ stylesheet }}>
	</head>
	<body>
		{{{body}}}
		<script src="//localhost:35729/livereload.js"></script>
		<script type="text/javascript" src='/js/zaneUtils.min.js' async></script>
	</body>
</html>